.App {
  height: 100vh;
  width: 100vw;
  background-position: center;
  position: relative;
}

.app_container {
  width: 90%;
  margin: auto;
}

.form_container {
  margin: auto;
  display: flex;
  justify-content: center;
}

.form {
  position: fixed;
  left: 10%;
  right: 10%;
  bottom: 10px;
}

.searchButton,
.searchInput {
  padding: 10px;
  border: 2px solid black;
  background-color: white;
  transition: all 0.2s;
}

.searchInput {
  width: 100%;
  border-right: none;
}

.searchButton:hover {
  background-color: pink;
}

.spinner {
  display: none;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.199);
  z-index: 1;
}

.spinner_img {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
